<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

    <title>Date Night Wishlist</title>
</head>
<body class="index-body">
    <h1>Date Night Wishlist</h1>
    <ul class="ul">
        <% dates.forEach(date => { %>
            <li class="li">
                <a href="/dates/<%= date._id %>"><button class="name-btn"><%= date.location %></button><br></a> 
                    <span class="img"><img src="<%= date.img %>"/></span><br>
                <form action="/dates/<%= date._id %>?_method=DELETE" method="POST">
                    <input type="submit" class="del-btn" value="Delete">
                </form>
                <a href="/dates/<%= date._id %>/edit"><button class="change-btn"></buton>Want to make changes?</a>
            </li>
      <% }) %>
    </ul>
    <a href="/dates/new"><button class="change-btn">Add a New Date</button></a>
</body>
</html>